{% extends "layout/base.html" %}
{% block title %}wlysCraft-index{% endblock %}
{% block body %}
    <section style="text-align: center">
        <h2 style="color: #4db6ac;font-size: 300%">
            Welcome to...
        </h2>
        <div class="fd">
            一个不知道有什么用的网站
        </div><br/>
        <h2 style="color: orangered;font-size: 250%">Features</h2>
        <ul class="fd">
            <li>小程序----------------一些有用或没用的功能</li><br/>
            <li>上传和下载------------公 开 网 盘</li><br/>
            <li>留言栏----------------登陆后即可留言</li><br/>
        </ul>
    </section>
    {% block script %}
        <script>
        $(function () {
            var p= 0;
            $("#eggopener").on("click", function () {
                if (p > 5){
                    $("#egg").fadeIn(3000);
                }else{
                    p++;
                }
            });
            var $weathershow = $("#weathershow");
            $weathershow.hide();
            $("#getweather").on("click", function (){
                $.ajax({
                type: 'POST',
                url: '/index/weather',
                dataType: 'json',
                success: function (data) {
                    $weathershow.show();
                    var weathern = data.weathern
                    var weatherf = data.weatherf
                    var now = weathern.HeWeather6[0].now;
                    var forecast = weatherf.HeWeather6[0].daily_forecast;
                    $("#ws-one").html(now.tmp+"℃");
                    $("#ws-two").html(forecast[0].tmp_max+"℃/"+forecast[0].tmp_min+"℃");
                    $("#ws-three").html(now.cond_txt+" 风力"+now.wind_sc+"级");
                    $("#ws-four").html(weathern.HeWeather6[0].basic.location);
                    $.each(forecast, function (i, day) {
                        $("#ws-five").append("<li>"+day.date+"  "+day.cond_txt_d+"  "+day.tmp_max+"℃/"+day.tmp_min+"℃</li><br/>")
                    });
                    $("#getweather").fadeOut();
                },
                error: function () {
                    alert("获取失败，请稍后再试");
                    $("#getweather").fadeIn();
                }
            });
            });
        })
        </script>
    {% endblock %}
{% endblock %}
