{% extends "layout/base.html" %}
{% block title %}wlysCraft-小程序{% endblock %}
{% block style %}{% endblock %}
{% block body %}
    <header class="center">
        <h4 class="red-text">小程序</h4>
    </header>
    <section class="container left" style="margin-top:10%">
        <div class="row">
            <div class="col s6 m6">
                质数判断:
                <div class="input-field inline">
                    <input type="number" id="zssr" length="10">
                    <label for="zssr">数字</label>
                </div>
                <p id="zsjg"></p>
            </div>
        </div>

    </section>
{% endblock %}
{% block script %}
<script>
    var zssr = document.getElementById("zssr");
    var zsjg = document.getElementById("zsjg");

    zssr.addEventListener("input", zspd);

    function zspd()
    {
        var zs = parseInt(zssr.value);
        if (isNaN(zs)){
            zsjg.innerHTML = "";
            return false;
        }
        if (zs < 2){
            zsjg.innerHTML = "结果:" + zs + "不是一个有效数字!(请输入大于1的整数)";
            return false;
        }

        if (zs < 4){
            zsjg.innerHTML = "结果:" + zs + "是一个质数!";
            return true;
        }
        for (var a = 2;a <= zs / 2;a++)
        {
            if (zs % a === 0)
            {
                zsjg.innerHTML = "结果:" + zs + "是一个合数!" + "\n" + "它的因数除了1和它本身还有" + a + "!";
                return true;
            }
        }

        zsjg.innerHTML = "结果:" + zs + "是一个质数!";
        return true;
    }
    {#$(function (){#}
    {#    var $zssr = $("#zssr");#}
    {#    var $zsjg = $("#zsjg")#}
    {#    $zssr.on("input", zspd);#}
    {##}
    {#    function zspd() {#}
    {#        $.ajax({#}
    {#            type: "POST",#}
    {#            url: "/programs/zspd",#}
    {#            data: {'num': document.getElementById('zssr').value},#}
    {#            dataType: 'json',#}
    {#            success: function (data) {#}
    {#                console.log(data)#}
    {#                console.log("结果: " + String(document.getElementById('zssr').value) + data["zsjg"])#}
    {#                $zsjg.html("结果: " + String(document.getElementById('zssr').value) + data['zsjg'])#}
    {#            },#}
    {#            error: function () {#}
    {##}
    {#            }#}
    {#        })#}
    {#    }#}
    {##}

</script>
{% endblock %}