<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="author" content="wlys">
    <title>wlys—视频</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='bg.jpg') }}");
            background-repeat: no-repeat;
        }
    </style>
    <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='Eggs.js') }}"></script>
    <style>
        body {
            background-image: url("{{url_for('static', filename='bg.jpg')}}");
            background-repeat: no-repeat;
        }
        section {
            margin-left: 2%;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}" style="color: red">主页</a></li>
            <li><a href="{{ url_for('programs') }}"  style="color: red">小程序</a></li>
            <li><a href="{{ url_for('download') }}"  style="color: red">下载</a></li>
            <li><a href="#" style="color: red">视频</a></li>
        </ul>
    </nav>
</header>
<section class="">
    <p class="fd">推荐html5教程:（必要时请关弹幕,推荐去官网观看）</p>
        <p id="text" class="fd">当前是第1节</p>
        <button id="lastP">上一节</button>
        <button id="nextP">下一节</button>
        <br/>
        <iframe id="video" src="https://player.bilibili.com/player.html?aid=48489320&cid=84920721&page=1" width="90%" height="600px" frameborder="0" allowfullscreen>抱歉，您的浏览器不支持iframe
        </iframe>
</section>
    <script src="js/htmlvideo.js"></script>
</body>
</html>
